NLR-Annotator: "/home/NLR-Annotator"
ref: "/home/FindPlantNLRs/ref_db/ref.fasta"
meme: "/opt/conda/envs/FindPlantsNLR/bin/mast"
meme_xml: "/home/meme.xml"
braker: "/opt/conda/envs/AnnotatePlantsNLR/bin"
augustus: "/opt/conda/envs/AnnotatePlantsNLR/bin/gtf2gff.pl"
interproscan: "/home/interproscan/interproscan.sh"
blast_threads: "12"
